# Makefile
build/

# lingering files
main.out
main.exe
items.dat
server_data.php
mysql_login.txt

# VSC user settings
.vscode/settings.json

# Zed - once i fully understand how use it i'll publish tasks.json and debug.json
.zed/
