name: Makefile
on: 
  push:
  pull_request:
  workflow_dispatch:
jobs:
  build:
    runs-on: ${{ matrix.os }}
    name: "${{ matrix.os }}"
    strategy:
      matrix:
        os: [windows-latest, ubuntu-latest]
    steps:
      - uses: actions/checkout@8e8c483db84b4bee98b60c0593521ed34d9990e8 # 2025-12-16
      
      
      - if: matrix.os == 'windows-latest'
        uses: msys2/setup-msys2@4f806de0a5a7294ffabaff804b38a9b435a73bda # v2.30.0
        with:
          msystem: UCRT64
          update: true
          install: >-
            mingw-w64-ucrt-x86_64-gcc
            mingw-w64-ucrt-x86_64-openssl
            mingw-w64-ucrt-x86_64-sqlite
            make
            
      - if: matrix.os == 'ubuntu-latest'
        run: sudo apt-get update && sudo apt-get install build-essential libssl-dev openssl sqlite3

        
      - if: matrix.os == 'windows-latest'
        run: make -j$(nproc)
        shell: msys2 {0}
      
      - if: matrix.os == 'ubuntu-latest'
        run: make -j$(nproc)
        # assume bash
